{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="username" class="form-label">Nickname</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Masukkan nickname" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Masukkan password"
            required>
    </div>

    <button type="submit" class="btn btn-primary">
        Login
    </button>
</form>

{% endblock %}